body{
  font-family: 'Poppis','Courier New', Courier, monospace;
}

.container {
  width: 60%;
  margin-top: 5em;
}

.container input {
  font-size: 20px;
  width: 280px;
}

.container-2 {
  margin: 20px;
  border: 1px solid gray;
  width: 400px;
  display: flex;
}
.entradaValor, .entradaNome {
  padding: 10px;
  display: block;

}

.box h1 {
  background-color: rgb(5, 60, 109);
  color: #FFF;
  margin: 10px;
  width: 390px;
}


.tabela {
  padding: 14px;
}

.item {
  margin: 1px;
}
.item button{
  margin: 4px;
  cursor: pointer;
}
.item button:hover {
  background-color: gray
}

.renda {
  text-align: left;
  margin: 10px;
}
