:root {
    --primary-color: #1F3340;
    --secondary-color: #2484BF;
    --background-color: #63A2CA;
    --green: #0E8004;
    --red: #E82020;
  }
  
  * {
    list-style: none;
    padding: 0;
    margin: 0;
  }
  
  .div {
    display: inline;
    width: 100%;
    height: 100%;
  }
  
  .container {
    border: 1px solid blue;
    width: 980px;
    padding: 20px;
  }
  
  .input-despesas {
    width: 400px;
    height: 40px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 20px;
    font-family: Arial;
  }
  
  .btn-add-despesa {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .nomeDespesa {
    border: none;
    padding: 10px;
    font-size: 35px;
    font-family: Arial;
  }